<style>
    nav{
        background: black;
        color: white;
    }
    ul{
        display: inline-block;
    }
</style>


<nav>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>To Do</li>
    </ul>
</nav>