<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body{
        background: skyblue;
    }
    h1,h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        text-align: center;
    }
</style>
<body>
    <% include partials/base.ejs %>
    <h1>Welcome to the profile of <%= name %></h1>
    <h2>Information</h2>
    
    <h2><%= interests.studies %></h2>
    <h2><%= interests.sports %></h2>
    <h1>Hobbies</h1>
    <% interests.hobbies.forEach(function(item){ %>
        <h2><%= item %></h2>
    <% }); %>
</body>
</html>